.customButton {
    border: 1px solid #a1bf5d;
    background-color: #a1bf5d;
    border-radius: 8px;
    padding: 10px 15px;
    color: white;
    transition: all 0.3s ease-in-out;
}

.customButton:hover {
    background-color: transparent;
    padding: 10px 15px;
    color: black;
}