.category__section .category__wrapper img {
    width: 40%;

}

.category__section {
    width: 100% !important;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.category__wrapper .card {
    padding: 10px 25px;
    max-height: 200px;
    text-align: center !important;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.5s ease-out;
}

.category__wrapper .card:hover {
    border: 2px solid #a1bf5d;
}

.category__wrapper .card p {
    padding: 0;
    margin: 0;
}

.category__section p {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 1.2rem;
}


.category__visiting__link {
    color: #a1bf5d;
}

.category__visiting__link:hover {
    text-decoration: underline;
    color: #a1bf5d;
}

.category__description {
    font-size: 0.8rem !important;
    font-weight: 500 !important;
    padding: 15px !important;
}