.items {
    width: 100% !important;
    background-color: #eff0f5;
    position: relative;

}


.items::before {
    content: 'ITEMS';
    position: absolute;
    top: -4%;
    left: 2%;
    font-size: 5rem;
    opacity: 0.1;
    font-weight: 800;
}

.item_name {
    margin: 0;
    padding: 0;
    font-weight: 800;
    color: #1b282e;
    font-size: 1.5rem;
    text-align: center;
}

.items .card__img {
    overflow: hidden !important;
    padding: 20px;

}

.items .card__img img {
    border-radius: 10px;
}


.items .card_img {
    height: 300px;
    width: 100%;
    transition: all 0.5s ease-out;

}

.card_img:hover {
    transform: scale(1.2);
}

.item-container {
    overflow: hidden !important;
}

.card_price_section {
    text-align: center;
}

.quantity {
    font-size: 1.2rem;
    font-weight: 800;
}

.price {
    font-size: 1.2rem;
    font-weight: 800;
}

.supplierName {
    text-align: center;
}

.button_logo {
    font-size: 1.3rem !important;
}

@media only screen and (max-width:980px) {
    .items::before {

        top: -2%;

    }

}