.navbar {
    /* background-color: red !important; */
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);

}

.logo__header {
    font-weight: 800;
    font-size: small;

}

.navbar a {
    color: black !important;
    font-weight: 500;
    text-decoration: none !important;
    margin-right: 20px;
}

.navbar a.active {
    color: #a1bf5d !important;
    font-weight: 700;
}

.navbar a:hover {
    color: #a1bf5d !important;
}

.activeLink {
    color: red;
}


.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.toggler-button {
    width: 30px;
    height: 3px;
    background-color: black;
    display: block;
    transition: all 0.2s;
}

.toggler-button-middle {
    margin: 5px;
}

.toggler-button.toggler-button-top {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.toggler-button.toggler-button-middle {
    opacity: 0;
    filter: alpha(opacity=0);
}

.toggler-button.toggler-button-bottom {
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler.collapsed .toggler-button-top {
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-button-middle {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .toggler-button-bottom {
    transform: rotate(0);
}

.navbar .dropdown-menu {
    padding: 10px 20px;

}


.upper__header {
    width: 100vw;
    background-color: black;

}

.upper__header__container {
    color: white;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    font-size: x-small;
    align-items: center;
    padding: 10px 5px;
}


@media only screen and (max-width:980px) {
    .navbar a {

        margin: 15px 0px;
    }
}

@media only screen and (max-width:480px) {
    .upper__header__container {
        font-size: x-small;

    }

}